@page "{message}"
@model SignalRImageModerator.Pages.TransmissionMessageModel
@{
    ViewData["Title"] = "TransmissionMessage";


}

<h2>TransmissionMessage</h2>


@section Scripts {
  <!-- 
       @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

       -->
}
